{% extends "base.jinja" %}

{% block title %} - Créer un utilisateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Créer un utilisateur</h2>
            <form action="{{ url_for('compte.form_utilisateur') }}" method="POST" novalidate>
                <div class="mb-3">
                    <label for="user_name" class="form-label">Nom d'utilisateur*</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" required>
                    {% if erreurs.user_name %}
                    <div class="text-danger">{{ erreurs.user_name }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="courriel" class="form-label">Courriel*</label>
                    <input type="email" class="form-control" id="courriel" name="courriel" required>
                    {% if erreurs.courriel %}
                    <div class="text-danger">{{ erreurs.courriel }}</div>
                    {% endif %}
                </div>

                 <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="mdp" class="form-label">Mot de passe*</label>
                    <input type="password" class="form-control" id="mdp" name="mdp" required>
                    {% if erreurs.mdp %}
                    <div class="text-danger">{{ erreurs.mdp }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="mdp_confirmation" class="form-label">Confirmer le mot de passe*</label>
                    <input type="password" class="form-control" id="mdp_confirmation" name="mdp_confirmation" required>
                    {% if erreurs.mdp_confirmation %}
                    <div class="text-danger">{{ erreurs.mdp_confirmation }}</div>
                    {% endif %}
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="est_coach" name="est_coach">
                    <label class="form-check-label" for="est_coach">Je suis un coach</label>
                </div>

                <button type="submit" class="btn btn-primary">Créer utilisateur</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

