{% extends "base.jinja" %}
{% block content %}
<div class="container mx-auto mt-5 p-4 rounded" style="max-width: 600px; background-color:beige">

    <div class="text-center mb-3">
        {% if utilisateur.image %}
        <img src="{{ url_for('static', filename=utilisateur.image) }}" alt="{{ utilisateur.user_name }}"
            class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover; border: 3px solid darkgreen;">
        {% else %}
        <div class="rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center mx-auto"
            style="width: 150px; height: 150px; font-size: 3rem;">
            {{ utilisateur.user_name[0]|upper }}
        </div>
        {% endif %}
    </div>

    <h1 class="text-center mb-3" style="color: darkgreen;">{% if utilisateur.archive %}
        Compte supprimé
        {% else %}
        {{ utilisateur.user_name }}
        {% endif %}</h1>
    <p class="text-center">{% if utilisateur.archive %}
        Indisponible
        {% else %}
        {{ utilisateur.courriel }}
        {% endif %}</p>

    <p><strong>Description :</strong> {% if utilisateur.archive %}{{"Utilisateur supprimé"}}
        {% else %}{{ utilisateur.description or "Aucune description fournie." }}{% endif %}</p>

    {% if utilisateur.est_coach %}
    <span class="badge bg-success">Entraineur</span>
    {% endif %}

    {% if not est_propre_profil and not utilisateur.archive%}
    <div class="text-center mt-4">
        <a href="{{ url_for('message.conversation', autre_id=utilisateur.id) }}" class="btn btn-primary">
            Envoyer un message
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}