{% extends "base.jinja" %}

{% block title %}Profil{% endblock %}

{% block content %}
<h1>Profil de {{ user.user_name }}</h1>
<p><strong>Description :</strong> {{ user.description }}</p>
<p><strong>Jeux :</strong> {{ user.lstJeux }}</p>
{% if user.image %}
    <img src="{{ url_for('static', filename=user.image.split('static/')[-1]) }}" alt="Avatar" class="img-thumbnail" width="150">
{% endif %}
<a class="btn btn-warning mt-3" href="{{ url_for('profile_modif') }}">Modifier le profil</a>
{% endblock %}
