{% extends "base.jinja" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container mx-auto mt-5 p-4 rounded"
     style="max-width: 600px; background-color:beige">
    {% if utilisateur.image %}
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename=utilisateur.image) }}"

                 alt="Avatar" class="rounded-circle"
                 style="width: 150px; height: 150px; object-fit: cover; border: 3px solid darkgreen;">
        </div>
    {% endif %}

    <h1 class="titre text-center mb-3" style="color:darkgreen">{{ utilisateur.user_name }}</h1>
    <p class="text-center">{{ utilisateur.courriel }}</p>
    <p><strong>Description :</strong> {{ utilisateur.description or "Aucune description" }}</p>
    {% if utilisateur.est_coach %}
                <span class="badge bg-success">Coach</span>
    {% endif %}
    <div class="text-center">
    <a class="btn btn-warning text-center mt-4" href="{{ url_for('compte.profile_modif') }}">Modifier le profil</a>
    </div>
</div>
{% endblock %}
